.DS_Store
**/.DS_Store
terraform.tfstate
terraform.tfstate.backup
**/.terraform/*
*.tfstate
*.tfstate.*
# Dependencies
/node_modules/

# Build artifacts
/dist/
/.next/
/out/
/build/
*.tsbuildinfo
.cache/

# Testing
/coverage/
/.nyc_output/

# Logs
/logs/
*.log
*.tar.gz

# Backups
/backups/
/backup_debug/
/terraform.zip

# Local Config
.env.local
/.env
/.config/
/.local/
.replit
cookies.txt
